- content_for :title, params[:query] if params[:query]
%h1 File search

= render 'form'

.row
  #facets.col-lg-2.col-sm-3
    = render 'aggregations'
  .col-lg-10.col-sm-9
    %p #{number_with_delimiter @search.total} entries found in #{@search.took} ms.
    %ol.entries
      - @search.each_with_hit.each do |record, hit|
        %li= render partial: 'hit', locals: {record: record, hit: hit}

  = paginate @search
