%tr
  %td
    = link_to server.address, server.address
    - if server.filelist?
      = link_to 'Browse Cache', [server, :files], class: 'btn btn-xs btn-primary'
  %td.right= link_to server.resources.indexed.count, resources_path(:query => "server_id:#{server.id}")
  %td
    - if server.total_size
      .filesize= server.total_size
  %td= server.files_updated_at? ? "#{time_ago_in_words(server.files_updated_at)} ago" : 'never'
  %td
    = link_to 'Download Filelist', [:filelist, server]
