%tr
  %td
    .filesize= server.size || "n/a"
  %td.text-right
    = server.count || "n/a"
  %td
    = link_to "ftp://#{server}/", "ftp://#{server}/"
  %td.text-nowrap
    - if server.updated_at
      = link_to 'Browse Cache', server_files_path(server), class: 'btn btn-xs btn-primary'
    - if server.has_download?
      = link_to 'Download Index', "/data/#{server.address}/index.csv.gz", class: 'btn btn-xs btn-primary'
  %td
    = server.updated_at ? "#{time_ago_in_words(server.updated_at)} ago" : 'never'
  %td
    = server.status["state"] rescue "n/a"
