%tr
  %td
    = link_to "ftp://#{server}/", "ftp://#{server}/"
    = link_to 'Browse Cache', server_files_path(server), class: 'btn btn-xs btn-primary'
  %td
    = server.updated_at ? "#{time_ago_in_words(server.updated_at)} ago" : 'never'
  %td
    = server.status["state"] rescue nil
