.facet
  - @results.facets.each do |title,facet|
    %h3= title
    %ul
      - facet[facet["_type"].pluralize].each do |row|
        %li
          %a{ href: '#'}
            = row['term'] || "#{row['from']}..#{row['max']}"
            %span.badge= row['count']
