%h3
  %div
    %a{:href => resource.uri.split("/")[0..-2].join("/")}
      - if result.highlight
        %small= (result.highlight.folder || [resource.folder]).join.html_safe
      - else
        %small= resource.folder
  %a{:href => resource.uri}
    - if result.highlight
      = (result.highlight.filename || [resource.filename]).join.html_safe
    - else
      = resource.filename


%div
  = number_to_human_size(resource.filesize)
  路
  
  %span{ title: 'Duration' }
    #{format_resolution(resource.duration)} h
  
  - if resource.video_codec
    路
    = resource.video_codec
  
  - if resource.resolution
    路 
    = resource.resolution
    %small (#{resource.width_height})
  
  - if resource.subtitle_languages.any?
    路
    Subtitles:
    = resource.subtitle_languages.join(", ")

- audio_streams = resource.audio_streams
= render :partial => 'audio_streams', :locals => {:audio_streams => audio_streams} if audio_streams.try(:any?)
