%h3<
  %a{ href: "ftp://host#{hit.folder}#{hit.filename}" }<
    - if hit.respond_to?(:highlight)
      = hit.try(:highlight).try(:folder) ? hit.highlight.folder.join.html_safe : hit.folder
      = "/" # avoid whitespace
      = hit.try(:highlight).try(:filename) ? hit.highlight.filename.join.html_safe : hit.filename
    - else
      = "#{hit.folder}/#{hit.filename}"


%ul.features
  %li= number_to_human_size hit.filesize
  
  %li{ title: 'Duration in Hours' }>
    %code= format_duration hit.duration
  
  - if value = hit.resolution
    %li{ title: 'Video Resolution' }>
      %code= value
  
  - if value = hit.video_codec
    %li{ title: 'Video Codec' }>
      %code= value
  
  - if (value = hit.audio_languages).any?
    %li{ title: 'Audio languages' }>
      = value.join(", ")

- if params[:show_audio]
  - audio_streams = record.audio_streams
  = render :partial => 'audio_streams', :locals => {:audio_streams => audio_streams} if audio_streams.try(:any?)

- #%span.text-muted= record.id
