= form_tag root_path, method: 'GET' do
  .form-group
    .input-group.input-group-lg
      = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'your search term', autofocus: true
      %span.input-group-btn
        %button.btn.btn-default{ type: 'submit' }
          Search
    
    %label
      = select_tag :per_page, options_for_select(%w(20 50 100 250 500), params[:per_page])
      files per page

    %label
      = check_box_tag :show_audio, 1, params[:show_audio]=='1'
      Display audio streams

    = link_to "Usage", :usage, :title => 'check out the usage'
