%h1 Search by metadata

= render :partial => 'search'

#results.col-xs-12.col-sm-9
  %p #{@results.total_count} files found
  
  %ol
    - @results.each_with_hit do |record, hit|
      %li= render :partial => 'result', locals: {result: Tire::Results::Item.new(hit), resource: record}
  
  = paginate @results

#facets.col-xs-6.col-sm-3
  %h2 Filters
  = render :partial => 'facets'
