%h1 Search by metadata

= render 'search'

.row
  #facets.col-lg-2.col-sm-3
    %h2 Filters
    = render 'facets'
  #results.col-lg-10.col-sm-9
    %p #{@results.results.total} files found in #{@results.took} ms.
    
    %ol
      - @results.records.each_with_hit do |record, hit|
        %li= render partial: 'resource', locals: { record: record, hit: hit }
    
    = #paginate @results
